<!DOCTYPE html>
<html lang="pt/br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Site Tre</title>
  <link rel="stylesheet" href="style.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Import style -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/element-plus/dist/index.css" />
  <!-- Import Vue 3 -->
  <script src="//cdn.jsdelivr.net/npm/vue@3"></script>
  <!-- Import component library -->
  <script src="//cdn.jsdelivr.net/npm/element-plus"></script>
</head>

<body>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <div id="app">

    <nav>
      <figure>
        <img src="src/logoComNome.svg" alt="" />
      </figure>
      <ul>
        <li><a href="#inicio">inicio</a></li>
        <li><a href="#nos">nós</a></li>
        <li><a href="#servicos">serviços</a></li>
        <li><a href="#projetos">projetos</a></li>
        <li><a href="footer">contatos</a></li>
      </ul>
    </nav>

    <header id="inicio">
      <h1>Tre</h1>
    </header>
    <!-- <div class="banner">banner</div> -->
    <main>

      <!-- Nos -->
      <div id="nos">
        <h2>nós</h2>
        <el-tabs v-model="nos" class="demo-tabs" @tab-click="handleClick">
          <el-tab-pane label="histórico" name="first">histórico</el-tab-pane>
          <el-tab-pane label="valores" name="second">valores</el-tab-pane>
          <el-tab-pane label="design" name="third">design</el-tab-pane>
          <el-tab-pane label="trepulantes" name="fourth">trepulantes</el-tab-pane>
        </el-tabs>
      </div>

      <!-- Serviços -->
      <div id="servicos">
        <h2>serviços</h2>
        <el-tabs v-model="servicos" class="demo-tabs" @tab-click="handleClick">
          <el-tab-pane label="naming" name="primeiro">naming</el-tab-pane>
          <el-tab-pane label="identidade da marca" name="segundo">identidade da marca</el-tab-pane>
          <el-tab-pane label="card design" name="tercerio">card design</el-tab-pane>
          <el-tab-pane label="comunicação da marca" name="quarto">comunicação da marca</el-tab-pane>
          <el-tab-pane label="eventos" name="quinto">eventos</el-tab-pane>
        </el-tabs>
      </div>

      <!-- Projetos -->
      <div id="projetos">

        <h2>projetos</h2>
        <div class="content_projetos">
          <div v-for="(imgPortfolioAll, index) in imgPortfolio" :key="index">
            {{index}}
            <img class="thumb" :src="imgPortfolioAll.imgThumb" :alt="imgPortfolioAll.alt" @click="mateus()" />
            <div v-for="imagePortfolioAll in imgPortfolioAll.portfolios" :key="imgPortfolioAll.id" class="overlay"
              v-if="popup">
              <div class="popup_content">
                <button class="close" @click="mateus()">X</button>
                <div>{{imagePortfolioAll.image}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- <footer></footer> -->
  </div>
  <script src="app.js"></script>
</body>

</html>